.main-cart {
	display: flex;
	flex-direction: row;
	background-color: #e56a77;
	width: 100%;
}
.cart-grid {
	width: 80%;
	min-height: 745px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.p {
	width: 90%;
	height: 30%;
	min-height: 200px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 10px;
	justify-content: space-around;
	padding: 5px;
	margin: 30px;
	background-color: white;
	box-shadow: 5px 5px 10px rgb(125, 125, 125);
}

.cartr {
	width: 10%;
	height: 20%;
}

.cart-img {
	max-height: auto;
	width: 100%;
	display: block;
}
.titlee {
	margin-left: 30px;
	width: 40%;
}
.cart-price {
	margin-left: 50px;
}
.add-button {
	background-color: #e56a77;
	padding: 10px;
	border-radius: 10px;
	transition: all 0.2s ease-in-out;
	width: 4%;
}
.remove-button {
	background-color: #e56a77;
	padding: 10px;
	border-radius: 10px;
	transition: all 0.2s ease-in-out;
	width: 4%;
}

.b:hover {
	transform: scale(1.3);
}

.total {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin-right: 20px;
	margin-top: 80px;
	border-radius: 10px;
	position: sticky;
	top: 0;
	background-color: white;
	height: 500px;
}

.main-title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}
.total-items {
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.delete{
    background-color: red;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px;
}

.check-section{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
}


.check-out{
	background-color: #e56a77;
	border-radius: 10px;
	padding: 5px;
	margin-left: 20px;
}

.item-view{
	min-height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 40px;
	border-top:1px solid rgb(133, 133, 133) ;
	border-bottom:1px solid rgb(133, 133, 133) ;

	width: 80%;
}