.mainPage {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: fit-content;
	background-color: #e56a77;
	overflow: hidden;
	font-weight: 500;
}
.gr{
	width: 100%;
	height: 100%;
}
.caro {
	height: 100%;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	align-items: center;
	background-image: url("../../assets/clark-street-mercantile-P3pI6xzovu0-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.ii {
	height: auto;
	display: block;
	max-width: 70%;
	padding: 50px;
}
.sw {
	display: flex;
	align-items: center;
}

.productPre{
	gap: 30px;
	width: 100%;
	justify-content: center;
	overflow: hidden;
    background-color: #e56a77;

}
.gr{
	display: grid;
}
.gap{
	height: 200px;
	width: 100%;
	background-color: white;
}
.swiper-slide{
	height: auto !important;
}
.text{
	font-size: 40px;
	background-color: aliceblue;
}

.load
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}