
.barr {
	width: 100%;
	height: 15%;
	display: flex;
	flex-direction: column;
}
.mainNav {
	height: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	box-shadow: 10px 10px 5px rgb(156, 156, 156);
	justify-content: space-around;
}
.logo {
	height: 50px;
	width: 60px;
}
.search {
	display: flex;
	justify-content: center;
	width: 40%;
	height: 40%;
	/*padding-left: 150px;*/
	align-items: center;
	border: gray 1px solid;
	border-radius: 90px;
}
.bar {
	width: 90%;
	height: 90%;
	border-radius:90px ;
	border: none;
}
.e {
	color: #e56a77;
	font-size: 40px;
}
.category {
	width: 12%;
	display: flex;
	height: 50%;
	align-items: center;
	/*padding-left: 300px;*/
}
.arrow {
	height: 30px;
	width: 30px;
	transform: rotate(180 deg);
	/*padding-left: 20px;*/
}

.category:hover + .secBar {
	display: flex;
}
.secBar {
	background-color: #e56a77;
	width: 100%;
}
.cats1 {
	width: 100%;
	display: flex;
}
.cats {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	list-style-type: none;
    height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.cats li{
    height: 100%;
    transition: all .6s ease-in-out; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
 
}
.cats li:hover{
    background-color: black;
    color: #e56a77;
    transform: scale(1.3);
}
.cart{
   /* padding-left:300px ;*/
}
.cPng{
    height:40px;
    width: 40px;
    transition: all .2s ease-in-out; 

}
.cPng:hover{
    transform: scale(1.3);


}
.searchB{
	height:100%;
	width: 5%;
	background-color: white;
	border: none;
}
.es{
	display: flex;
	align-items: center;
	justify-content: center;
}
.searchi{
	height: 20px;
	width: 20px;
}

.l{
	text-decoration: none;
	display: flex;
	align-items: center;
	color: black;
}